name: Build APK

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
    paths:
      - "app/**"   

jobs:
  linux:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build libxposed
        run: |
          chmod +x ./gradlew
          ./gradlew buildLibxposed

      - name: Build with Gradle
        run: ./gradlew clean assembleRelease

      - name: Upload app
        uses: actions/upload-artifact@v4
        with:
          name: XposedFakeLocation
          path: app/build/outputs/apk/release/*.apk
